body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

        nav ul li a {
            color: #ffffff;
            text-decoration: none;
        }

main {
    padding: 20px;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
